
.DS_Store

client
server
serverPaolo
serverRegister
serverRegisterIndri
ImageStoringServer
ImageManipulationServer

Service Oriented Architecture.xcodeproj/**

Debug/*

.cproject

.project

.project

.cproject

Servers/ImageStoringServer/*
