
.DS_Store

client
server
serverPaolo
serverRegister
ServiceRegisterIndri
ImageStoringServer
ImageManipulationServer

Service Oriented Architecture.xcodeproj/**

Debug/*

.cproject

.project

.project

.cproject
